In [2]:
a = 5
a

5

In [3]:
type(a)

int

In [4]:
b = 3.4
b

3.4

In [5]:
type(b)

float

In [6]:
a = "Raghav"
a

'Raghav'

In [8]:
type(a)

str

In [9]:
2+3

5

In [10]:
"2" + 3

TypeError: can only concatenate str (not "int") to str

In [12]:
#Type casting/ Type conversion >>  The process of changing the data type of a value/object
#why? while executing/computation using operators, there can be mismatch btw the datatype

In [13]:
a = "2"
b = 3
a + b

TypeError: can only concatenate str (not "int") to str

In [15]:
type(a)

str

In [16]:
a = "2"
b = 3
int(a) + b

5

In [17]:
#string to int
a = "2"
print(type(a))
print(type(int(a)))

<class 'str'>
<class 'int'>

In [18]:
#float to int
a = 3.5
type(a)

float

In [19]:
int(a)

3

In [21]:
b = 6.78
type(b)
float_value = int(b)
type(float_value)

int

In [22]:
#int to float
a = 2
type(a)

int

In [24]:
b = float(a)
b

2.0

In [25]:
type(b)

float

In [26]:
#string to float
a = "2.3"
type(a)

str

In [27]:
float(a)

2.3

In [29]:
b = float(a)
type(b)

float

In [30]:
a = "Raghav" #character cannot be converted into number

In [31]:
#int to string
a = 5
type(a)

int

In [32]:
str(a)

'5'

In [33]:
c = str(a)
type(c)

str

In [34]:
#Typecasting >> implicit and explicit

In [35]:
#implicit typecasting >> python understand the datatype
a = 5
type(a)

int

In [36]:
2+3.0

5.0

In [37]:
#explicit typecasting >> convert data type using inbuild function >> str, int, float, bool
a= "2"
type(a)

str

In [38]:
int(a)

2

In [39]:
float(a)

2.0

In [40]:
2+3

5

In [44]:
a = "Raghav"
b = " Rastogi"
a+b #contatenation of string >> combine the string

'Raghav Rastogi'

In [45]:
#boolean typecasting
bool(0)

False

In [46]:
bool(1)

True

In [47]:
bool(100)

True

In [48]:
bool(10000)

True

In [49]:
bool("Raghav")

True

In [50]:
bool("") #empty string

False

In [51]:
bool(-5)

True